@font-face {
  font-family: 'Brolimo';
  src:
    url('/BrolimoRegular.ttf') format('woff2'),
    url('/BrolimoRegular.ttf') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('/Montserrat-Regular.ttf') format('woff2'),
    url('/Montserrat-Regular.ttf') format('woff2');
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- PAGE --- */
.page {
  width: 148mm;
  height: 210mm;
  padding: 10mm;
  border: 1px solid gray; /* TODO: remove */
}

.section-title {
  font-family: 'Brolimo';
  font-size: 24pt;
  font-weight: 100;
  text-align: center;
  margin-bottom: 7mm;
}

.items-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 15mm);
}

/* --- ITEM --- */
.item-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1mm;
}

.item-title {
  font-family: 'Montserrat';
  font-size: 17pt;
}

.item-price {
  font-family: 'Brolimo';
  font-size: 14pt;
}

.item-description {
  font-family: 'Montserrat';
  font-size: 12pt;
}
